
/* from styling */

.container{
    color:black;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contain{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.left-side-form{
    background:linear-gradient(to bottom, rgb(9, 115, 177),rgba(236, 235, 235, 0.952));
    padding: 80px 10px; 
    border-radius: 10px 0px 0px 10px;
    color: white;
    box-shadow:3px 5px 15px rgba(0, 0, 0, 0.493);   
    display: flex;   
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 320px;
    max-width: 380px;
    
}

.left-side-form > div{
    margin: 40px 30px;
    display: flex;   
    flex-direction: column;
    flex-wrap: nowrap;


}
.left-side-form > div > button{
    padding: 10px 30px;
    margin: 12px 5px;
    border-style: none;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);

}

.right-side-form{
    background:rgb(235, 233, 233);
    padding: 30px 10px ;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    box-shadow:3px 5px 15px rgba(0, 0, 0, 0.493)
}
.right-side-form > div{
    margin: 50px 25px;  
    display: flex;   
    flex-direction: column;
   

}
.right-side-form > div >input{  
    display: flex;   
    flex-direction: column;
    width: 300px;
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255); 
    border-radius: 5px;
    border-style: none;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.445);

}
.right-button > button{  
   
    margin: 8px 5px;
    padding: 10px 30px;
    border-style: none;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);

}

/* stop watch styling */

.Watch-container{
    display: flex;
    flex-direction: column;
    place-items: center center;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 50px;
    padding: 30px;

}
.displays{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 25px;
}
.controll button{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease-in;

}
.start-button{
    background-color: rgba(88, 207, 55, 100%);

}
.start-button:hover{
    background-color: rgb(71, 185, 26);

}
.stop-button{
    background-color: rgb(206, 61, 35);

}
.stop-button:hover{
    background-color: rgb(214, 30, 30);

}
.reset-button{
    background-color: rgb(59, 150, 211);

} 
.reset-button:hover{
    background-color: rgb(23, 123, 190);

}